<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bean01.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,0},{125,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,199}}</string>
                <key>sourceSize</key>
                <string>{125,199}</string>
            </dict>
            <key>bean02.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,0},{125,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,199}}</string>
                <key>sourceSize</key>
                <string>{125,199}</string>
            </dict>
            <key>bean03.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,0},{125,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,199}}</string>
                <key>sourceSize</key>
                <string>{125,199}</string>
            </dict>
            <key>bean04.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,0},{125,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,199}}</string>
                <key>sourceSize</key>
                <string>{125,199}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,1028},{16,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,720}}</string>
                <key>sourceSize</key>
                <string>{16,720}</string>
            </dict>
            <key>cuber01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,0},{241,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,226}}</string>
                <key>sourceSize</key>
                <string>{241,226}</string>
            </dict>
            <key>cuber02.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,226},{241,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,226}}</string>
                <key>sourceSize</key>
                <string>{241,226}</string>
            </dict>
            <key>cuber03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{241,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,226}}</string>
                <key>sourceSize</key>
                <string>{241,226}</string>
            </dict>
            <key>cuber04.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,226},{241,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,226}}</string>
                <key>sourceSize</key>
                <string>{241,226}</string>
            </dict>
            <key>cuber05.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,226},{241,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,226}}</string>
                <key>sourceSize</key>
                <string>{241,226}</string>
            </dict>
            <key>cuber06.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,226},{241,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,226}}</string>
                <key>sourceSize</key>
                <string>{241,226}</string>
            </dict>
            <key>cuber07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,0},{241,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,226}}</string>
                <key>sourceSize</key>
                <string>{241,226}</string>
            </dict>
            <key>cuber08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,0},{241,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,226}}</string>
                <key>sourceSize</key>
                <string>{241,226}</string>
            </dict>
            <key>cuberbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,0},{96,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{96,87}</string>
            </dict>
            <key>cuberbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,0},{96,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{96,87}</string>
            </dict>
            <key>cuberbtn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,0},{96,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{96,87}</string>
            </dict>
            <key>replaybtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>returnbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,0},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>s101bgimg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1028},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>s101line01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,738},{1280,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,286}}</string>
                <key>sourceSize</key>
                <string>{1280,286}</string>
            </dict>
            <key>s101line02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,452},{1280,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,286}}</string>
                <key>sourceSize</key>
                <string>{1280,286}</string>
            </dict>
            <key>sr_f_triangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,0},{168,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,144}}</string>
                <key>sourceSize</key>
                <string>{168,144}</string>
            </dict>
            <key>sr_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,738},{32,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,290}}</string>
                <key>sourceSize</key>
                <string>{32,290}</string>
            </dict>
            <key>sr_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,738},{32,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,290}}</string>
                <key>sourceSize</key>
                <string>{32,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene101.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23a4bb6543a2447a7fdaeeb5832efa2f:6c13a4e70ba26bdc9420dcf2a8d6c215:9a04fb8b08cf709da36490be6b44d9f8$</string>
            <key>textureFileName</key>
            <string>scene101.png</string>
        </dict>
    </dict>
</plist>
